:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}
body{
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003885; /* Màu nền */
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1477px;
  height: 982px;
  margin: 0 auto;
}
.blog {
  position: absolute;
  width: 1477px;
  height: 982px;
  top: 0;
  left: 0;
  background: #003885;
  z-index: 1;
  overflow: hidden;
}
.flex-row-a {
  position: relative;
  width: 1307.79px;
  height: 60px;
  margin: 24px 0 0 35px;
  z-index: 6;
}
.image {
  position: absolute;
  width: 184px;
  height: 60px;
  top: 0;
  left: 0;
  background: url(./assets/images/a64e88cf-7678-42fa-b8dc-985196750450.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.san-pham {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 159px;
  height: 43px;
  top: 9px;
  left: 575px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 41.4px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}
.tin-tuc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 177px;
  height: 43px;
  top: 9px;
  left: 762px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 41.4px;
  text-align: center;
  white-space: nowrap;
  z-index: 4;
}
.lien-he {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 155px;
  height: 43px;
  top: 9px;
  left: 984px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 41.4px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;
}
.faqs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 109.79px;
  height: 30.07px;
  top: 15px;
  left: 1198px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 25.174829483032227px;
  font-weight: 400;
  line-height: 29.502px;
  text-align: center;
  white-space: nowrap;
  z-index: 6;
}
.flex-row {
  position: relative;
  width: 1477px;
  height: 872px;
  margin: 26px 0 0 0;
  z-index: 18;
}
.frame-1 {
  position: absolute;
  width: 1477px;
  height: 872px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 7;
  overflow: hidden;
}
.flex-row-bb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1325px;
  height: 169px;
  margin: 516px 0 0 55px;
  z-index: 12;
}
.image-2 {
  flex-shrink: 0;
  position: relative;
  width: 349px;
  height: 169px;
  background: url(./assets/images/05b801ee5f93fa543e5c40f13b2a0b4cb9c3b8cd.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.image-3 {
  flex-shrink: 0;
  position: relative;
  width: 343px;
  height: 169px;
  background: url(./assets/images/5ef2728030e03c23a4095f3a02e0a77067e81efb.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
}
.image-4 {
  flex-shrink: 0;
  position: relative;
  width: 343px;
  height: 169px;
  background: url(./assets/images/1b6ec99f9859380be533a1b1a1f54450540675ac.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.flex-row-5 {
  position: relative;
  width: 1312px;
  height: 102px;
  margin: 0 0 0 51px;
  z-index: 13;
}
.reduce-emissions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 353px;
  height: 89px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 41.4px;
  text-align: center;
  z-index: 9;
}
.driver-journey {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 348px;
  height: 102px;
  top: 0;
  left: 473px;
  color: #000000;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 41.4px;
  text-align: center;
  z-index: 11;
}
.agricultural-support {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 331px;
  height: 78px;
  top: 0;
  left: 981px;
  color: #000000;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 41.4px;
  text-align: center;
  z-index: 13;
}
.wrapper {
  position: absolute;
  width: 179.499px;
  height: 872px;
  top: 0;
  left: 693px;
  font-size: 0px;
  z-index: 18;
}
.view-now {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 121px;
  height: 21px;
  margin: 300px 0 0 0;
  color: #000000;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 17;
}
.arrow {
  position: relative;
  width: 54.499px;
  height: 0.07px;
  margin: 0 0 0 125px;
  background: url(./assets/images/9af31a7b-1eff-4896-8527-3c6bf51636f1.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.image-6 {
  position: absolute;
  width: 611px;
  height: 296px;
  top: 85px;
  left: 21px;
  background: url(./assets/images/c8bea9e7495e71a65d8021927d8c8067656dadcc.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.tim-hieu-ly-do {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 796px;
  height: 160px;
  top: 93px;
  left: 664px;
  color: #000000;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 41.4px;
  text-align: center;
  z-index: 16;
}
.kham-pha-ve-pepsi {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 252px;
  height: 60px;
  top: 449px;
  left: 572px;
  color: #000000;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 41.4px;
  text-align: center;
  white-space: nowrap;
  z-index: 14;
}
