:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #003885;
}

body{
  overflow-x: hidden;
}
.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1477px;
  height: 982px;
  margin: 0 auto;
  background: linear-gradient(153.46deg, #003885, #094a76);
  border: 1px solid #000000;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.flex-row-e {
  position: relative;
  width: 1307.79px;
  height: 60px;
  margin: 24px 0 0 35px;
  z-index: 10;
}
.image {
  position: absolute;
  width: 184px;
  height: 60px;
  top: 0;
  left: 0;
  background: url(./assets/images/a1683cab-01f5-4e02-8595-a87dea975af8.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.san-pham {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 159px;
  height: 43px;
  top: 9px;
  left: 575px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 41.4px;
  text-align: center;
  white-space: nowrap;
  z-index: 5;
}
.tin-tuc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 177px;
  height: 43px;
  top: 9px;
  left: 762px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 41.4px;
  text-align: center;
  white-space: nowrap;
  z-index: 8;
}
.lien-he {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 155px;
  height: 43px;
  top: 9px;
  left: 984px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 41.4px;
  text-align: center;
  white-space: nowrap;
  z-index: 9;
}
.faqs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 109.79px;
  height: 30.07px;
  top: 15px;
  left: 1198px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 25.174829483032227px;
  font-weight: 400;
  line-height: 29.502px;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
}
.flex-row-bd {
  position: relative;
  width: 1520px;
  height: 821px;
  margin: 78px 0 0 0;
  z-index: 37;
}
.image-1 {
  position: absolute;
  width: 415px;
  height: 615px;
  top: 0;
  left: 1105px;
  background: url(./assets/images/f5aa8ed2e43bcb2a7d22117434c310fcfae7408c.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.49;
  z-index: 1;
}
.image-2 {
  position: absolute;
  width: 369.52px;
  height: 713px;
  top: 4px;
  left: 1050px;
  background: url(./assets/images/fb5e54cc-5bc3-4d16-afa2-dc95943d441e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 3;
}
.pesi-diet {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 115px;
  top: 11px;
  left: 113px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 96px;
  font-weight: 700;
  line-height: 115px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.image-3 {
  position: absolute;
  width: 388px;
  height: 518px;
  top: 24px;
  left: 866px;
  background: url(./assets/images/f5aa8ed2e43bcb2a7d22117434c310fcfae7408c.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.33;
}
.carbonated-water {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 807px;
  height: 90px;
  top: 142px;
  left: 113px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 41.4px;
  text-align: left;
  opacity: 0.66;
  z-index: 6;
}
.thong-so-dinh-duong {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 35px;
  top: 248px;
  left: 114px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.rectangle {
  position: absolute;
  width: 184px;
  height: 195px;
  top: 307px;
  left: 114px;
  font-size: 0px;
  background: rgba(10, 93, 208, 0.35);
  z-index: 13;
}
.amount-per-serving {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 101px;
  height: 44px;
  margin: 10px 0 0 41px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  opacity: 0.66;
  z-index: 24;
}
.cl {
  display: block;
  position: relative;
  height: 36px;
  margin: 26px 0 0 50px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.9;
  z-index: 32;
}
.rectangle-4 {
  position: relative;
  width: 185px;
  height: 57px;
  margin: 22px 0 0 -1px;
  background: rgba(106, 146, 201, 0.3);
  z-index: 17;
}
.percentage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 14px;
  left: 67px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.66;
  z-index: 28;
}
.rectangle-5 {
  position: absolute;
  width: 184px;
  height: 195px;
  top: 307px;
  left: 334px;
  font-size: 0px;
  background: rgba(10, 93, 208, 0.35);
  z-index: 14;
}
.total-fat {
  display: block;
  position: relative;
  height: 24px;
  margin: 13px 0 0 54px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.66;
  z-index: 25;
}
.g {
  display: block;
  position: relative;
  height: 36px;
  margin: 43px 0 0 70px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.9;
  z-index: 33;
}
.rectangle-6 {
  position: relative;
  width: 185px;
  height: 57px;
  margin: 22px 0 0 -1px;
  background: rgba(106, 146, 201, 0.3);
  z-index: 18;
}
.percentage-7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 14px;
  left: 74px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.66;
  z-index: 29;
}
.rectangle-8 {
  position: absolute;
  width: 184px;
  height: 195px;
  top: 307px;
  left: 554px;
  font-size: 0px;
  background: rgba(10, 93, 208, 0.35);
  z-index: 15;
}
.sodium {
  display: block;
  position: relative;
  height: 24px;
  margin: 13px 0 0 57px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.66;
  z-index: 26;
}
.sodium-mg {
  display: block;
  position: relative;
  height: 36px;
  margin: 43px 0 0 48px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.9;
  z-index: 34;
}
.rectangle-9 {
  position: relative;
  width: 185px;
  height: 57px;
  margin: 22px 0 0 -1px;
  background: rgba(106, 146, 201, 0.3);
  z-index: 19;
}
.percentage-a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 14px;
  left: 74px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.66;
  z-index: 31;
}
.rectangle-b {
  position: absolute;
  width: 184px;
  height: 195px;
  top: 307px;
  left: 774px;
  font-size: 0px;
  background: rgba(10, 93, 208, 0.35);
  z-index: 16;
}
.protein {
  display: block;
  position: relative;
  height: 28px;
  margin: 13px 0 0 62px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.66;
  z-index: 27;
}
.protein-g {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 36px;
  margin: 39px 0 0 72px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;
  opacity: 0.9;
  z-index: 35;
}
.rectangle-c {
  position: relative;
  width: 185px;
  height: 57px;
  margin: 22px 0 0 -1px;
  background: rgba(106, 146, 201, 0.3);
  z-index: 20;
}
.percentage-d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 14px;
  left: 75px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.66;
  z-index: 30;
}
.daily-value {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 845px;
  height: 73px;
  top: 542px;
  left: 113px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.12px;
  text-align: left;
  opacity: 0.66;
  z-index: 7;
}
.rectangle-e {
  position: absolute;
  width: 189.244px;
  height: 58.543px;
  top: 628px;
  left: 114px;
  border: 1.361px solid #ffffff;
  z-index: 23;
  border-radius: 6.807px;
}
.buy-now-f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 32.675px;
  top: 12.253px;
  left: 28.591px;
  color: #ffffff;
  font-family: Akshar, var(--default-font-family);
  font-size: 27.22933006286621px;
  font-weight: 400;
  line-height: 32.675px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.image-10 {
  position: absolute;
  width: 235px;
  height: 180px;
  top: 641px;
  left: 0;
  background: url(./assets/images/bdc7804e-1baa-4e18-a105-d2ae7b5bce4b.png)
    no-repeat center;
  background-size: cover;
  z-index: 37;
}
.image-11 {
  position: relative;
  width: 554px;
  height: 713px;
  margin: 1350px 0 0 4333px;
  background: url(./assets/images/38505098-a16b-4a9d-9792-04bc9cda2b64.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
